.game {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-board {
    width: 70%;
    display: flex;
    justify-content: center;
}   

.game-actions {
    padding-left: 1em;
    display: flex;
}

.game-actions button {
    font-family: cursive;
}

.game-info {
    background-color: #a1aa4e;
    width: 30%;
}

.game-info {
    color: white;
    font-family: cursive;
}

.game-info h2 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.game-messages {
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    color: white;
}

.game-actions button {
    padding: 1em 2em 1em 2em;
    margin-bottom: 1em;
}

.start-button {
    background-color: #FF3366;
    border: none;
    color: white;
}

.start-button:hover {
    background-color: #ff7094;
    cursor: pointer;
}

.btn-history {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-family: cursive;
}

.btn-history:hover {
    cursor: pointer;
    color: #4b511d;
}

.restart-button {
    background-color: #4b511d;
    border: none;
    color: white;
}

.restart-button:hover {
    background-color: #abb461;
}

.btn-invisible {
    visibility: hidden;
}